<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>

    <h1>Maintenance Page</h1>
    <p>We are working on improving your experience.</p>
  </body>
  <!-- <footer>
    <p> Copyright {{currentYear}} </p>
  </footer> -->
  {{> footer}}

</html>
